:root {
    --wxBlue: #007BFF;
    --background-color: #e6e6e6;
    --primary-text-color: #222222;
    --header-color: #fdfdfd;
    --box-background-color: #fff;
    --hover-color: #0056b3;
    --box-shadow: rgba(106, 106, 106, 0.25) 0px 13px 27px -5px;
    --button-text-color: #fff;
    --input-border-color: #ced4da;
    --header-color-translucent: rgba(255, 255, 255, 0.6);
    --table-background-color: #fdfdfd;
    --table-header-background-color: #f9f9f9;
}

.dark-mode {
    --background-color: #303030;
    --primary-text-color: #ececec;
    --header-color: #272727;
    --box-background-color: #272727;
    --box-shadow: rgba(210, 210, 212, 0.25) 0px 13px 27px -5px;
    --button-text-color: #fff;
    --input-border-color: #4e4d4d;
    --header-color-translucent: rgba(64, 64, 64, 0.2);
    --table-background-color: #272727;
    --table-header-background-color: #292929;
}

h2 {
    color: var(--primary-text-color);
    text-decoration: underline;
}

.d-none {
    display: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.theme-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .theme-slider {
    background-color: #333;
}

input:checked + .theme-slider:before {
    transform: translateX(26px);
}

.user-input {
    border-radius: 24px;
    padding: 10px;
    border: 2px solid var(--primary-text-color);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    transition: all 0.3s ease;
}

header {
    height: 8vh;
    padding: 10px;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background-color: var(--header-color);
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

header.scrolled {
    height: 6vh;
    background-color: var(--header-color-translucent);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
}

header div {
    flex: 1;
}

.title-div {
    text-align: left;
    padding-left: 40px;
}

.logo {
    width: auto;
    height: 10vh;
    transition: all 0.5s ease;
}

.scrolled .logo {
    height: 8vh;
}

.toggleTheme-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 40px;
}

.logo-div {
    display: flex;
    justify-content: center
}

.input-div {
    display: flex;
    min-height: 50vh;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    background-color: var(--box-background-color);
}

.map-div {
    width: 70%;
    border: none;
    background-color: #e8ecef;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formular-Bereich */
.form-div {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 400px; /* Maximale Breite des Formulars */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Abstand zwischen den Zeilen */
}

/* Form-Zeilen */
.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.longitude-latitude {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* Abstand zwischen Longitude und Latitude */
    width: 100%;
}

/* Nebeneinander-Anordnung von Longitude und Latitude Gruppen */
.input-group {
    display: flex;
    flex-direction: column; /* Titel (Label) und Input untereinander */
    align-items: center; /* Inhalt zentriert untereinander */
    flex: 1; /* Nimmt gleichmäßigen Platz ein */
}

.radius-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-row:first-child > div {
    flex: 1;
    text-align: left;
}

/* Range-Slider und Eingabe daneben */
.year-range-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.range-slider-div {
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-range-div input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #ccc;
    border-radius: 5px;
    outline: none;
    pointer-events: all;
    position: absolute;
}

.year-range-div input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--wxBlue);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.year-range-div input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--wxBlue);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.stations-selection {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.station-box {
    width: 50px;
    height: 40px;
    background-color: #ddd;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.station-box:hover {
    background-color: #bbb;
}

.station-box.selected {
    background-color: var(--wxBlue);
    color: white;
}

/* Button */
.search-button {
    background-color: var(--wxBlue);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.search-button:hover {
    background-color: var(--hover-color);
}

.stations-container {
    width: 100%;
    display: flex;
}

/* Unterer Container: Weather Stations */
.stations-list {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);
}

.stations-list-title{
    text-align: center;
}

.title, .list-entry {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    max-width: 95vw;
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px 0;
    background: var(--table-header-background-color);
    cursor: pointer;
}

.arrow-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.toggle-arrow {
    width: 20px;  /* Automatische Anpassung */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.toggle-arrow.rotated {
    transform: rotate(180deg);
}

.station-data-div {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out, padding 0.3s ease-out;
}

.station-data-div.open {
    min-height: 60vh;
    padding: 10px;
}

.station-data-content {
    background-color: var(--box-background-color);
    border-radius: 10px;
    overflow: auto; /* Scrollbars für den Tabellen-Container */
    border: 1px solid #ccc; /* Optional für bessere Sichtbarkeit */
    padding: 10px; /* Innerer Abstand */
    box-sizing: border-box; /* Sorgt dafür, dass die Innenräume korrekt berechnet werden */
}

.table-div {
    flex: 1;
}

.chart-div {
    flex: 2;
    margin-left: 10px;
}

table {
    width: 100%; /* Tabelle füllt den Container */
    border-collapse: collapse; /* Benachbarte Zellen teilen sich Rahmen */
}

table th, table td {
    border: 1px solid #ddd; /* Rahmen für Zellen */
    padding: 8px; /* Innenabstand */
    text-align: center; /* Inhalt zentrieren */
}

table th {
    background-color: var(--table-background-color); /* Header-Hintergrund */
}
