<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WXplore</title>
    <!-- CSS einbinden -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <div class="title-div">
        <p>Projekt mit Anwendungsentwicklung</p>
    </div>
    <div class="logo-div">
        <img id="logo"
             src="{{ url_for('static', filename='Logo_Light.png') }}"
             alt="Logo"
             class="logo"
             data-light="{{ url_for('static', filename='Logo_Light.png') }}"
             data-dark="{{ url_for('static', filename='Logo_Dark.png') }}">
    </div>

    <div class="toggleTheme-div">
        <span>Light</span>
        <label class="switch">
            <input type="checkbox" id="modeToggle">
            <span class="theme-slider"></span>
        </label>
        <span>Dark</span>
    </div>
</header>

<div class="input-div">
    <div class="map-div" id="map">
        <span>Loading Map...</span>
    </div>
    <div class="form-div">
        <div class="form-container">
            <!-- Titel -->
            <h2 class="form-title">Please Enter Your Data</h2>

            <!-- 1. Zeile: Longitude und Latitude -->
            <div class="form-row longitude-latitude">
                <!-- Latitude -->
                <div class="input-group">
                    <h3>Latitude</h3>
                    <input class="user-input latLong-input" type="number" id="latitude" name="latitude"
                           placeholder="e.g.: 48,132247351247926" min="-90" max="90">
                </div>

                <!-- Longitude -->
                <div class="input-group">
                    <h3>Longitude</h3>
                    <input class="user-input latLong-input" type="number" id="longitude" name="longitude"
                           placeholder="e.g.: 8,677355612809267" min="-180" max="180">
                </div>
            </div>

            <!-- 2. Zeile: Radius-Eingabe -->
            <div class="form-row">
                <h3>Search Radius</h3>
                <div class="radius-div">
                    <input type="range" id="radiusSlider" min="1" max="100" step="1" value="50">
                    <input class="user-input" type="number" id="radius" min="1" max="100" step="1" value="50">
                    <p>km</p>
                </div>
            </div>

            <!-- 3. Zeile: Year Range -->
            <div class="form-row">
                <h3>Year Range</h3>
                <div class="year-range-div">
                    <input class="user-input" type="number" id="yearStart" min="1763" max="2024" value="1965" step="1">
                    <div class="range-slider-div">
                        <input type="range" id="yearStartSlider" min="1763" max="2024" value="1965" step="1">
                        <input type="range" id="yearEndSlider" min="1763" max="2024" value="2004" step="1">
                    </div>
                    <input class="user-input" type="number" id="yearEnd" min="1763" max="2024" value="2004" step="1">
                </div>
            </div>

            <!-- 4. Zeile: Anzahl der Stationen -->
            <div class="form-row">
                <h3>Max. Number of Stations</h3>
                <div class="stations-selection">
                    <div class="station-box" data-value="5">5</div>
                    <div class="station-box" data-value="10">10</div>
                    <div class="station-box" data-value="20">20</div>
                    <input class="user-input" type="number" id="stationsInput" name="stations" placeholder="Custom"
                           min="0">
                </div>
            </div>

            <!-- 5. Zeile: Search Button -->
            <div class="form-row">
                <button type="button" class="search-button" onclick="clearList(); clearWeatherStations(); addMarker(); getStations()">
                    Search Weather Stations
                </button>
            </div>
        </div>
    </div>
</div>

<div class="stations-container d-none" id="stationList">
    <div class="stations-list">
        <div class="stations-list-title">
            <h2>Weather Stations</h2>
        </div>
        <div class="title">
            <span>Name</span>
            <span>ID</span>
            <span>Latitude</span>
            <span>Longitude</span>
            <spa>Distance</spa>
            <span>More Information</span>
        </div>
        <ul id="stationsList"></ul>
    </div>
</div>
<!-- map.js -->
<script src="{{url_for('static', filename='js/map.js')}}"></script>
<!-- script.js -->
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<!-- routes.js -->
<script src="{{url_for('static', filename='js/routes.js')}}"></script>
<!-- Google Maps API mit Callback auf initMap -->
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmgMa1SuYTka5RbQBGvSlgi02QCRcv3_k&loading=async&callback=initMap&v=weekly&libraries=marker">
</script>
<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>

